{% extends 'base.html' %}
{% block contenuti %}
    {% if giornalista %}
    <h5  class="my-3" >Elenco degli articoli di {{ giornalista.nome }} {{ giornalista.cognome }}:</h5>
    {% else %}
    <h5  class="my-3" >Elenco di tutti gli articoli:</a></h5>
    {% endif %}
  
    <div class="my-3"></div>
    {% for articolo in articoli %}
        <p>{{ forloop.counter }})  {{ articolo.titolo }}<br>
            {{ articolo.contenuto }}
            <small>({{ articolo.giornalista }})</small> 
        </p>
        
        <hr>
    {% endfor %}
</div>
{% endblock contenuti %}